body {
    background-image: url('../assets/background-sea.png');
}

button {
    margin: 20px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
    max-width: 900px;
}

.title-container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-image: url('../assets/wooden-crate.png');
    color: white;
    text-align: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-icon {
    margin: 10px;
    transform: rotate(-75deg);
}

.right-icon {
    margin: 10px;
}

.about-container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-image: url('../assets/wooden-crate.png');
    color: white;
    text-align: center;
    background-size: cover;
}

.hours-container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-image: url('../assets/wooden-crate.png');
    color: white;
    text-align: center;
    background-size: cover;
}

.location-container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-image: url('../assets/wooden-crate.png');
    color: white;
    text-align: center;
    background-size: cover;
}